.hero * {
  overflow: visible;
}
.hero {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../Assets/Images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 20px 0px;
}
.hero h1 {
  color: #212529;
  font-size: 5rem;
  width: 45%;
  text-transform: uppercase;
  margin-top: 1rem;
  overflow: visible;
}
.hero-p {
  color: #212529;
  font-size: 1rem;
  width: 24%;
}
/* animation1========================= */
/* @keyframes translationY {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
} */
.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  overflow: visible;
}
.hero_create {
  border: none;
  border-radius: 25px;
  color: white;
  width: 200px;
  height: 60px;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  /* transform: translateY(50px); */
  /* opacity: 0; */
  background-color: #686868;
  animation: translationY 0.5s ease-in-out 0.1s forwards;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}
.hero_connect {
  border: none;
  border-radius: 25px;
  color: white;
  width: 200px;
  height: 60px;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  background-color: #c400ff;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}
.hero_connect:hover {
  opacity: 0.8;
}
/* card-mine styling ------------------------------------- */
.hero_card-mine-div * {
  overflow: visible !important;
}
.hero_card-mine-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 4.3rem;
  height: 400px;
  position: relative;
}
.card-mine {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 220px;
  height: 280px;
  text-align: left;
  gap: 10px;
  padding: 10px 0px;
  border-radius: 25px;
  /* transform: translateY(50px); */
  /* opacity: 0; */
  padding-top: 30px;
  overflow: visible;
  transition: all 0.25s ease-in-out;
}
.card-mine:hover .card-mine-img {
  transform: scale(1.2);
  transform-origin: bottom;
}
.card-mine:hover {
  transform: translateY(-60px) scale(1.2);
}
.marquee--inner {
  display: flex;
  position: absolute;
  animation: marquee 20s linear infinite;
  justify-content: space-evenly;
  gap: 40px;
}

.marquee--inner:hover {
  animation-play-state: paused;
}

/*.half {
  float: left;
  width: 10%;
}*/

span {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.card-mine:nth-child(1) {
  animation: translationY 0.5s ease-in-out 0.3s forwards;
}
.card-mine:nth-child(2) {
  animation: translationY 0.5s ease-in-out 0.3s forwards;
}
.card-mine:nth-child(3) {
  animation: translationY 0.5s ease-in-out 0.32s forwards;
}
.card-mine:nth-child(4) {
  animation: translationY 0.5s ease-in-out 0.34s forwards;
}
.card-mine:nth-child(5) {
  animation: translationY 0.5s ease-in-out 0.36s forwards;
}
.card-mine:nth-child(6) {
  animation: translationY 0.5s ease-in-out 0.4s forwards;
}
.card-mine:nth-child(7) {
  animation: translationY 0.5s ease-in-out 0.43s forwards;
}
.card-mine-img {
  width: 80%;
  object-fit: contain;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
}
.card-mine-title {
  align-self: flex-start;
  margin-left: 10px;
  font-size: 1rem;
  font-weight: 500;
}
.card-mine-lower {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.number {
  color: #a8a8a8;
}
.common {
  background-color: #efcb50;
}
.mythic {
  background-color: #5b3bf5;
}
.rare {
  background-color: #ea4852;
}
.rarity {
  color: white;
  padding: 3px 20px;
  border-radius: 20px;
  font-size: 0.85rem;
}
.hero-desc {
  color: #212529;
  font-size: 1.3rem;
  width: 45%;
  margin-top: 3rem;
}
@media screen and (max-width: 1300px) {
  .hero h1 {
    width: 80%;
    font-size: 4rem;
  }
  .hero-p {
    width: 40%;
  }
  .hero-desc {
    width: 65%;
  }
}
@media screen and (max-width: 710px) {
  .hero h1 {
    font-size: 2.5rem;
  }
  .hero-p {
    width: 60%;
  }
  .hero-desc {
    width: 85%;
    font-size: 1rem;
  }
}
@media screen and (max-width: 444px) {
  .btn-div {
    gap: 20px;
  }
  .hero_connect,
  .hero_create {
    width: 150px;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 426px) {
  .hero h1 {
    width: 90%;
    font-size: 2rem;
  }
  .hero-p {
    width: 80%;
  }
  .hero-desc {
    width: 85%;
  }
  .marquee--inner {
    animation-duration: 7s;
  }
}
