.launch * {
  overflow: visible;
}
.launch {
  min-height: 50vh;
  height: auto;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4rem 1.5rem;
  overflow: visible;
}
.launch h1 {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
}
.launch-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  margin-top: 3rem;
  width: 80%;
}
.launch-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  gap: 1.6rem;
}
.launch-box p {
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 0 !important;
}
.x10-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  position: relative;
}
.x10-div img {
  object-fit: contain;
  border-radius: 15px;
}
.x10-div p {
  color: #ffccff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
}
.box {
  content: "";
  width: 240px;
  height: 190px;
  position: relative;
}
.box img {
  position: relative;
  width: 100%;
  height: 100%;
  transform: perspective(1000px) rotateX(0deg);
  transition: 0.9s;
  max-width: 100%;
  backface-visibility: hidden;
  pointer-events: none;
}
.box:hover img {
  transform: perspective(1000px) rotateX(-180deg);
}
.box .content {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #272727;
  color: #fff !important;
  transform: perspective(1000px) rotateX(180deg);
  transition: 0.9s;
  backface-visibility: hidden;
  display: grid;
  place-items: center;
}
.box:hover .content {
  transform: perspective(1000px) rotateX(0deg);
}
.content_hover {
  transform: perspective(1000px) rotateX(0deg) !important;
}
.img_hover {
  transform: perspective(1000px) rotateX(-180deg) !important;
}
.content p {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.line-div {
  width: 99%;
  height: 3px;
  background-color: gray;
  margin: 3rem 0rem;
  position: relative;
}
.dot-div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.circle {
  width: 20px;
  height: 20px;
  background-color: pink;
  border-radius: 50%;
  border: 2px solid white;
}
.dot-div p {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}
.dot-div:nth-child(1) {
  left: 12%;
  top: -8px;
}
.dot-div:nth-child(2) {
  left: 29%;
  top: -8px;
}
.dot-div:nth-child(3) {
  left: 45%;
  top: -8px;
}
.dot-div:nth-child(4) {
  left: 62%;
  top: -8px;
}
.dot-div:nth-child(5) {
  left: 77%;
  top: -8px;
}
@media screen and (max-width: 1720px) {
  .launch-div {
    width: 95%;
  }
  .box {
    width: 95% !important;
  }
  .launch-box p {
    font-size: 1.2rem;
  }
  .dot-div:nth-child(1) {
    left: 5%;
    top: -8px;
  }
  .dot-div:nth-child(2) {
    left: 25%;
    top: -8px;
  }
  .dot-div:nth-child(3) {
    left: 45%;
    top: -8px;
  }
  .dot-div:nth-child(4) {
    left: 64%;
    top: -8px;
  }
  .dot-div:nth-child(5) {
    left: 84%;
    top: -8px;
  }
}
@media screen and (max-width: 1313px) {
  .launch-box p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1101px) {
  .launch-box p {
    font-size: 1.4rem;
  }
  .content p {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }

  .launch {
    position: relative;
  }
  .launch-div {
    flex-direction: column;
  }
  .launch-box {
    border-bottom: 1px solid gray;
    padding-bottom: 40px;
    align-items: center;
    border-right: none;
  }
  .x10-div {
    justify-content: center;
  }
  .line-div {
    position: absolute;
    top: 3%;
    left: 9%;
    height: 95%;
    width: 3px;
  }
  .dot-div:nth-child(1) {
    top: 0.2%;
    left: -19px;
  }
  .dot-div:nth-child(2) {
    left: -19px;
    top: 20.2%;
  }
  .dot-div:nth-child(3) {
    left: -19px;
    top: 40.2%;
  }
  .dot-div:nth-child(4) {
    left: -19px;
    top: 60.2%;
  }
  .dot-div:nth-child(5) {
    left: -24px;
    top: 80.2%;
  }
}
@media screen and (max-width: 900px) {
  .dot-div:nth-child(2) {
    top: 20.5%;
  }
  .dot-div:nth-child(3) {
    top: 40.3%;
  }
  .dot-div:nth-child(4) {
    top: 60.2%;
  }
  .dot-div:nth-child(5) {
    left: -24px;
    top: 80.2%;
  }
}
@media screen and (max-width: 712px) {
  .launch-div {
    width: 80%;
  }
  .launch-box {
    width: 74%;
  }
  .dot-div:nth-child(1) {
    top: 0.5%;
  }
  .dot-div:nth-child(2) {
    top: 20.5%;
  }
  .dot-div:nth-child(3) {
    top: 40.5%;
  }
  .dot-div:nth-child(4) {
    top: 60.5%;
  }
  .dot-div:nth-child(5) {
    top: 80.3%;
  }
}

@media screen and (max-width: 604px) {
  .launch-box {
    width: 74%;
  }

  .dot-div:nth-child(1) {
    top: 0.5%;
  }
  .dot-div:nth-child(2) {
    top: 20.7%;
  }
  .dot-div:nth-child(3) {
    top: 40.5%;
  }
  .dot-div:nth-child(4) {
    top: 60.2%;
  }
  .dot-div:nth-child(5) {
    top: 80.2%;
  }
}

@media screen and (max-width: 538px) {
  .dot-div:nth-child(1) {
    top: 0.1%;
  }
  .dot-div:nth-child(2) {
    top: 20.1%;
  }
  .dot-div:nth-child(3) {
    top: 40.15%;
  }
  .dot-div:nth-child(4) {
    top: 60%;
  }
  .dot-div:nth-child(5) {
    top: 80%;
  }
  .launch h1 {
    font-size: 2.5rem;
  }
  .launch-box p {
    font-size: 1.2rem;
  }
  .launch-box p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 464px) {
  .dot-div:nth-child(1) {
    top: 0%;
  }
  .dot-div:nth-child(2) {
    top: 20%;
  }
  .dot-div:nth-child(3) {
    top: 40%;
  }
  .dot-div:nth-child(4) {
    top: 60%;
  }
  .dot-div:nth-child(5) {
    top: 80%;
  }
}
@media screen and (max-width: 414px) {
  .dot-div:nth-child(1) {
    top: 0%;
  }
  .dot-div:nth-child(2) {
    top: 20.5%;
  }
  .dot-div:nth-child(3) {
    top: 40.3%;
  }
  .dot-div:nth-child(4) {
    top: 60.3%;
  }
  .dot-div:nth-child(5) {
    top: 80.3%;
  }
  .launch h1 {
    font-size: 2.5rem;
  }
  .launch-box p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 375px) {
  .dot-div:nth-child(1) {
    top: 0%;
  }
  .dot-div:nth-child(2) {
    top: 20.6%;
  }
  .dot-div:nth-child(3) {
    top: 40.1%;
  }
  .dot-div:nth-child(4) {
    top: 59.8%;
  }
  .dot-div:nth-child(5) {
    top: 80%;
  }
}
